<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>itemImage</key>
		<string>sonstige</string>
	</dict>
	<dict>
		<key>itemImage</key>
		<string>hobby</string>
	</dict>
	<dict>
		<key>itemImage</key>
		<string>beruf</string>
	</dict>
	<dict>
		<key>itemImage</key>
		<string>versicherungen</string>
	</dict>
	<dict>
		<key>itemImage</key>
		<string>arzt</string>
	</dict>
	<dict>
		<key>itemImage</key>
		<string>finanzen</string>
	</dict>
	<dict>
		<key>itemImage</key>
		<string>zu1</string>
	</dict>
	<dict>
		<key>itemImage</key>
		<string>zu2</string>
	</dict>
	<dict>
		<key>itemImage</key>
		<string>zu3</string>
	</dict>
	<dict>
		<key>itemImage</key>
		<string>zu4</string>
	</dict>
	<dict>
		<key>itemImage</key>
		<string>zu5</string>
	</dict>
	<dict>
		<key>itemImage</key>
		<string>zu8</string>
	</dict>
	<dict>
		<key>itemImage</key>
		<string>zu9</string>
	</dict>
	<dict>
		<key>itemImage</key>
		<string>policeman</string>
	</dict>
	<dict>
		<key>itemImage</key>
		<string>nurse</string>
	</dict>
	<dict>
		<key>itemImage</key>
		<string>scientist</string>
	</dict>
	<dict>
		<key>itemImage</key>
		<string>pilot</string>
	</dict>
	<dict>
		<key>itemImage</key>
		<string>concierge</string>
	</dict>
	<dict>
		<key>itemImage</key>
		<string>cooker</string>
	</dict>
	<dict>
		<key>itemImage</key>
		<string>builder</string>
	</dict>
	<dict>
		<key>itemImage</key>
		<string>writer</string>
	</dict>
	<dict>
		<key>itemImage</key>
		<string>miner</string>
	</dict>
	<dict>
		<key>itemImage</key>
		<string>waiter</string>
	</dict>
	<dict>
		<key>itemImage</key>
		<string>surgeon</string>
	</dict>
	<dict>
		<key>itemImage</key>
		<string>cashier</string>
	</dict>
	<dict>
		<key>itemImage</key>
		<string>manager</string>
	</dict>
	<dict>
		<key>itemImage</key>
		<string>Conference</string>
	</dict>
	<dict>
		<key>itemImage</key>
		<string>Manager-1</string>
	</dict>
	<dict>
		<key>itemImage</key>
		<string>Night Portrait</string>
	</dict>
</array>
</plist>
